.nav
{
	opacity: 0.4;
	-moz-backface-visibility:    hidden;
	height: 35px;
	width: 35px;
	padding-right: 35px;
}
.nav:hover
{
	opacity: 1;	
}
#home
{

	position:absolute;
	left: 100px;
}
.navlist
{
	text-align: right;
}

.main
{
	height: 250px;
	width: 250px;
	border-style: dashed;
	border-color: gray;
	border-width: 2px;
	overflow: hidden;
	display: inline-block;
	margin: 80px;
	font-size: 40px;
	line-height: 120px;
	color: #D0B314;
<!--#E8E9BE,#BAE8CD,#B3E0E6-->
<!--#FFEB85 for yellow, also switch about me and projects -->
}
#projects:hover
{
	color: #3A8A96;
	background: #B3E0E6;
}
#aboutme:hover
{
	color: #A7911F;
	background: #FFE55C;
}
#resources:hover
{
	color: #3C9761;
	background: #BAE8CD;
}
.mainlist
{
	padding-top: 65px;
	text-align: center;

}
a, a:focus
{
	text-decoration: none;
	outline: 0;
	color: gray;
}
#quote
{
	color: gray;
	font-style: italic;
	font-size: 18px;
	text-align: center;
}
#quoteby
{
	color: gray;
	font-style: italic;
	text-align: right;
	font-size: 15px;
	padding-right: 480px;
}
footer
{
	clear:both;
	text-align: right;
	color: gray;
	font-size: 12px;
}
/*Resources*/
.linklist
{
	text-align: center;
	padding: 85px;
}
.linkcat
{
	font-size: 40px;
	padding: 25px;
}
.link
{
	font-size: 25px;
}

/*About Me*/
#mystory
{
	padding-top: 6%;
	text-align: center;
}
#portrait
{
	width: 35px;
	height: 35px;
}
/*Projects*/
/*HPCQuest*/
#project
{
	background-color: white;
	border: dashed;
	border-color:gray;
	width: 60%;
	height: 80%;
	margin:auto;
}
